*{
    margin: 0;
    padding: 0;
}
a:hover{
    background-color: white;
    color: black;

}

#image{
    padding-left: 100px;
    padding-top: 50px;
}

h1{
    text-align: center;
    font-size: 40px;
    text-decoration: solid;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 50px;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2;
}
#about{
    background-color:burlywood ;
    padding: 1px;
    width: 50%;
    padding-top: 10px;

#project{
    padding-left: 1300px;
    color: blue;
}



}
.justin{
    font-size: 30px;
    font-weight: 200;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

nav ul li {
    display: inline-block;
    margin-left: 150px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
footer ul li{
    display: inline-block;
    margin-left: 0px;
   
}
footer ul li a{
    text-decoration: none;
    padding: 30px;
}
#contact {
    color: red;
    padding-left: 1600px;
    display: block;

}

p.social{
    color: blue;
    font-size: 30px;
    padding: 20px;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.circular-image{
    border-radius: 60%;
    width: 500px;
    height: 500px;

}
.project{
    color: blue;
    padding-left: 1300px;
    position: absolute;
    top: 60px;
    right: 10;
    display: inline-block;

}